{% trans_default_domain 'translations' %}
<div id="cookies-form-container" class="mb-4 p-3 bg-white border ">
    <p>Wybierz pliki cookie, które chcesz włączyć, korzystając z poniższych pól wyboru:</p>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_widget(form.base) }}
        <div class="text-secondary small">
            {{ 'translations.cookies.base_cookies_desc'|trans }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_widget(form.analytic) }}
        <div class="text-secondary small">
            {{ 'translations.cookies.analytic_cookies_desc'|trans }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_widget(form.marketing) }}
        <div class="text-secondary small">
            {{ 'translations.cookies.analytic_cookies_desc'|trans }}
        </div>
    </div>

    <button id="submit-cookies-settings" type="button" class="btn btn-primary">Zapisz</button>
    {{ form_end(form) }}
</div>